@media (max-width: 1390px) {
  #slider .collection .swiper-slide__btn {
    margin: 480px 0 0 260px;
    font-size: 25px;
  }
  #discover .discover--rectangle {
    display: none;
  }
}
@media (max-width: 1335px) {
  #slider .collection .swiper-slide__btn {
    margin: 460px 0 0 250px;
  }
  #discover .discover--tittle2__sell {
    font-size: 92px;
  }
}
@media (max-width: 1280px) {
  #header .searcher--search {
    padding: 0 0 0 510px;
  }
  #slider .collection .swiper-slide__btn {
    margin: 430px 0 0 227px;
    font-size: 22px;
  }
  #discover .discover--img4 {
    display: none;
  }
  #discover .discover--star2 {
    display: none;
  }
  #discover .discover--tittle1 {
    padding: 20px 0 0 133px;
  }
  #discover .discover--tittle2__sell {
    font-size: 80px;
    padding-right: 20px;
  }
}
@media (max-width: 1240px) {
  #header .searcher--search {
    padding: 0 0 0 500px;
  }
  #discover .discover--tittle2__sell {
    font-size: 75px;
  }
}
@media (max-width: 1200px) {
  #header .searcher--search {
    padding: 0 0 0 490px;
  }
  #discover .discover--img4 {
    display: none;
  }
  #discover .discover--rectangle {
    display: none;
  }
  #discover .discover--tittle1 {
    padding: 20px 0 0 100px;
  }
  #discover .discover--tittle2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #discover .discover--tittle2__sell {
    font-size: 60px;
    margin: 0 20px 0 0;
  }
  #discover .discover--img2 {
    padding: 0 0 0 330px;
  }
  #discover .discover--img3 {
    padding: 40px 0 0 500px;
  }
  #discover .discover--rectangle8 {
    padding: 400px 0 0 210px;
  }
  #discover .discover--rectangle7 {
    padding: 260px 0 0 80px;
  }
  #discover .discover--rectangle {
    padding: 0 0 0 990px;
  }
  #discover .discover--img4 {
    margin: -450px 0 0 1020px;
  }
}
@media (max-width: 1024px) {
  #header .searcher--search {
    padding: 0 0 0 430px;
  }
  #header .searcher--menu {
    padding: 0 40px 0 40px;
    width: 50%;
  }
  #discover .discover--img3 {
    padding: 40px 0 0 380px;
  }
  #discover .discover--rectangle7 {
    padding: 260px 0 0 30px;
  }
  #discover .discover--rectangle8 {
    padding: 400px 0 0 150px;
  }
  #discover .discover--img2 {
    padding: 0 0 0 255px;
  }
  #discover .discover--tittle1__cover {
    font-size: 65px;
  }
  #discover .discover--tittle1__collect {
    font-size: 65px;
  }
  #discover .discover--remark {
    font-size: 65px;
  }
  #discover .discover--tittle2 {
    padding: 20px 0 0 220px;
  }
  #discover .discover--tittle2__sell {
    font-size: 55px;
  }
  #discover .discover--tittle2__img {
    width: 250px;
    height: 60px;
  }
  #discover .discover--star4 {
    margin: -40px 0 0 185px;
  }
  #discover .discover--star2 {
    padding: 20px 0 0 90px;
  }
  #discover .discover--rectangle {
    padding: 0 0 0 800px;
  }
  #discover .discover--star3 {
    margin: -100px 0 0 900px;
  }
  #discover .discover--img4 {
    margin: -450px 0 0 875px;
  }
  #discover .discover--sponsors__base {
    font-size: 30px;
  }
  #discover .discover--sponsors__bin--binance {
    font-size: 30px;
  }
  #discover .discover--sponsors__revolut {
    font-size: 30px;
    margin: 0 -30px 0 20px;
  }
  #discover .discover--sponsors__trans {
    padding: 0 20px 0 0;
  }
  #discover .discover--sponsors__trans--tittle {
    font-size: 30px;
  }
  #discover .discover--sponsors__meta--metamask {
    font-size: 30px;
  }
  #discover .discover--images__img {
    width: 200px;
    height: 30px;
  }
  #slider .collection .swiper-slide__street {
    font-size: 25px;
    padding: 200px 0 0 0;
  }
  #slider .collection .swiper-slide__tittle {
    font-size: 14px;
    padding: 280px 0 0 0;
  }
  #slider .collection .swiper-slide__btn {
    margin: 344px 0 0 177px;
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  #header .searcher--search {
    padding: 0 0 0 420px;
  }
  #discover .discover--img4 {
    margin: -450px 0 0 840px;
  }
}
@media (max-width: 981px) {
  #discover .discover--tittle2__sell {
    font-size: 53px;
  }
  #discover .discover--star3 {
    display: none;
  }
  #slider .collection .swiper-slide__street {
    padding: 160px 0 0 0;
  }
  #slider .collection .swiper-slide__tittle {
    font-size: 14px;
    padding: 232px 0 0 0;
  }
  #slider .collection .swiper-slide__btn {
    padding: 7px 27px;
    margin: 333px 0 0 169px;
  }
}
@media (max-width: 955px) {
  #header .searcher--search {
    padding: 0 0 0 410px;
  }
}
@media (max-width: 933px) {
  #header .searcher--search {
    padding: 0 0 0 404px;
  }
  #discover .discover--star1 {
    display: none;
  }
  #discover .discover--tittle2__sell {
    font-size: 45px;
  }
  #discover .discover--tittle1 {
    padding: 20px 0 0 80px;
  }
  #discover .discover--sponsors__meta--metamask {
    font-size: 23px;
  }
  #slider .collection .swiper-slide__btn {
    margin: 320px 0 0 160px;
  }
}
@media (max-width: 840px) {
  #header .searcher--search {
    padding: 0 0 0 382px;
  }
  #header .searcher--menu__a {
    font-size: 13px;
  }
  #discover .discover--rectangle8 {
    display: none;
  }
  #discover .discover--img2 {
    padding: 0 0 0 180px;
    width: 40%;
  }
  #discover .discover--img3 {
    padding: 40px 0 0 280px;
    width: 39%;
  }
  #discover .discover--tittle1 {
    padding: 20px 0 0 55px;
  }
  #discover .discover--tittle2__sell {
    font-size: 36px;
  }
  #discover .discover--sponsors__bin--binance {
    font-size: 24px;
  }
  #discover .discover--sponsors__meta img {
    width: 30%;
  }
  #discover .discover--sponsors__meta--metamask {
    font-size: 18px;
  }
  #slider .collection .swiper-slide__btn {
    margin: 290px 0 0 138px;
    padding: 5px 24px;
  }
  #slider .collection .swiper-slide__tittle {
    font-size: 12px;
    padding: 228px 0 0 0;
  }
}
@media (max-width: 768px) {
  #header .searcher--search {
    padding: 0 0 0 337px;
  }
  #header .searcher--input {
    margin: 0 0 0 40px;
    width: 330px;
    height: 38px;
  }
  #discover .discover--star4 {
    display: none;
  }
  #discover .discover--tittle2 {
    padding: 20px 0 0 170px;
  }
  #discover .discover--tittle2__sell {
    font-size: 26px;
    margin: 0 0 0 0;
  }
  #discover .discover--tittle2__img {
    width: 180px;
    height: 46px;
  }
  #discover .discover--tittle1 {
    padding: 20px 0 0 40px;
  }
  #discover .discover--tittle1__cover {
    font-size: 55px;
  }
  #discover .discover--tittle1__collect {
    font-size: 55px;
  }
  #discover .discover--remark {
    font-size: 55px;
    padding: 20px 0;
  }
  #discover .discover--sponsors__base {
    font-size: 25px;
  }
  #discover .discover--sponsors__bin--binance {
    font-size: 20px;
  }
  #discover .discover--sponsors__revolut {
    font-size: 25px;
  }
  #discover .discover--sponsors__trans--tittle {
    font-size: 25px;
  }
  #slider .collection .swiper-slide__street {
    padding: 130px 0 0 0;
  }
  #slider .collection .swiper-slide__btn {
    margin: 255px 0 0 115px;
    padding: 3px 21px;
  }
  #slider .collection .swiper-slide__tittle {
    font-size: 10px;
    padding: 195px 0 0 0;
  }
}