* {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 90%;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 90%;
}

a {
  text-decoration: none;
}

#monkeys {
  background: #15141A;
  padding: 0 0 10% 0;
  font-family: "Inter", sans-serif;
}
#monkeys .monkeys--item {
  padding: 0 0 10% 0;
}
#monkeys .monkeys--item__as {
  position: absolute;
  margin: 5% 0 0 5%;
  width: 124px;
  height: 44px;
  border: 1px solid #FFFFFF;
  border-radius: 39px;
  transform: rotate(-90deg);
}
#monkeys .monkeys--item__star {
  position: absolute;
  margin: 0 0 0 30%;
  font-size: 35px;
  color: #FFFFFF;
}
#monkeys .monkeys--item__long {
  position: absolute;
  margin: 0 0 0 87%;
  width: 3%;
  height: 3%;
  border-radius: 50%;
  border: solid 2px #F4BF00;
}
#monkeys .monkeys--item__block {
  position: absolute;
  width: 3%;
  height: 3%;
  border-radius: 50%;
  border: solid 2px #FE67EF;
  margin: 5% 0 0 80%;
}
#monkeys .monkeys--discover {
  display: flex;
  align-self: center;
  flex-direction: column;
}
#monkeys .monkeys--discover__stuff {
  color: #F1B864;
  font-size: 20px;
  display: flex;
  align-self: center;
  flex-direction: column;
}
#monkeys .monkeys--discover__fames {
  color: white;
  font-size: 32px;
  display: flex;
  align-self: center;
  flex-direction: column;
}
#monkeys .monkeys--btn {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 50px 0;
}
#monkeys .monkeys--btn__btnt {
  color: white;
  font-size: 20px;
  background: #15141A;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 231px;
  height: 58px;
  border-radius: 14px;
}
#monkeys .monkeys--btn__btnt:hover {
  background: #FE8B46;
  color: #15141A;
  width: 220px;
  height: 80px;
}
#monkeys .monkeys--btn__btns {
  width: 161px;
  height: 63px;
  background: #FE8B46;
  border: 1px solid #FFFFFF;
  border-radius: 38px;
  color: white;
  font-size: 20px;
}
#monkeys .monkeys--btn__btns:hover {
  background: #15141A;
  color: #FE8B46;
  width: 220px;
  height: 80px;
}
#monkeys .monkeys--clone {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#monkeys .monkeys--clone__moro {
  margin: 5% 0 5% 0;
  color: white;
  width: 92%;
  height: 96%;
  border: 1px solid #A6A6A6;
  border-radius: 26px;
}
#monkeys .monkeys--clone__moro--img img {
  width: 95%;
}
#monkeys .monkeys--clone__moro--bored {
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
}
#monkeys .monkeys--clone__moro--bored__lines {
  padding: 10px 20px;
}
#monkeys .monkeys--clone__moro--bored__dos {
  padding: 0 0 0 14px;
}
#monkeys .monkeys--clone__moro--bored__ape {
  display: flex;
  width: 70%;
}
#monkeys .monkeys--clone__moro--bored__ape--image {
  margin: 0 0 0 8%;
}
#monkeys .monkeys--clone__moro--bored__price--number {
  color: #FEAE51;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
#monkeys .monkeys--clone__moro--line {
  width: 90%;
  margin: 15% 0 0 5%;
  border: 1px solid #A0A0A0;
}
#monkeys .monkeys--clone__moro--img {
  padding: 13px 0 0 0;
  text-align: center;
}
#monkeys .monkeys--clone__moro--diamonds {
  padding: 7px 22px;
  display: flex;
  justify-content: space-between;
}
#monkeys .monkeys--clone__moro--diamonds__hot {
  font-size: 17px;
  display: flex;
}
#monkeys .monkeys--btnEnd {
  display: flex;
  justify-content: center;
  margin: 5% 0 0 0;
}
#monkeys .monkeys--btnEnd__btnl {
  background: #15141A;
  border: 1px solid #FFFFFF;
  width: 161px;
  height: 46px;
  border-radius: 36px;
  color: white;
  font-size: 20px;
}
#monkeys .monkeys--btnEnd__star {
  padding: 10% 70% 0 0;
  position: absolute;
  color: white;
  font-size: 20px;
}

#bored {
  background: #15141A;
  padding: 0 0 10% 0;
  font-family: "Inter", sans-serif;
}
#bored .bored--moro {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#bored .bored--moro__first {
  color: #F1B864;
  font-size: 20px;
}
#bored .bored--moro__top {
  color: white;
  font-size: 45px;
}
#bored .bored--moro__selec {
  font-size: 45px;
  background: transparent;
  color: #F7A659;
  border: none;
  outline: none;
}
#bored .bored--moro__selec--opti {
  font-weight: 500;
  font-size: 20px;
  background: none;
  color: #F7A659;
  border: none;
  outline: none;
}
#bored .bored--ape {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#bored .bored--ape__monkey {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15% 0 0 0;
  width: 95%;
  height: 90%;
  border: 1px solid #BCBCBC;
  border-radius: 13px;
  color: white;
}
#bored .bored--ape__monkey--yach {
  margin: 0 0 0 38px;
}
#bored .bored--ape__monkey--frog {
  display: flex;
  margin: 0 0 0 -13px;
}
#bored .bored--ape__monkey--frog img {
  padding: 0 5px;
}
#bored .bored--ape__monkey--frog__discover {
  color: #DC9752;
}
#bored .bored--ape__monkey--number {
  font-size: 25px;
}
#bored .bored--ape__monkey--imeg {
  width: 25px;
}
#bored .bored--ape__monkey--img {
  position: absolute;
  margin: 0 190px 44px 0;
}
#bored .bored--ape__monkey--imag {
  position: absolute;
  margin: 41px 190px 0 0;
}
#bored .bored--ape__monkey--yach__circle {
  font-size: 18px;
}
#bored .bored--ape__monkey--yach__floor {
  font-size: 16px;
}
#bored .bored--ape__monkey--proses {
  color: #21D605;
  font-size: 14px;
  margin: 0 0 15% 0;
}
#bored .bored--sell {
  display: flex;
  justify-content: center;
  margin: 10% 0 0 0;
}
#bored .bored--sell__sector {
  position: absolute;
  width: 82px;
  height: 48px;
  border: 1px solid #FFFFFF;
  border-radius: 39px;
  transform: rotate(-90deg);
  margin: -35px 60% 0 0;
}
#bored .bored--sell__view {
  background: #15141A;
  color: white;
  width: 210px;
  height: 64px;
  border: 1px solid #FFFFFF;
  border-radius: 36px;
}
#bored .bored--sell__shrift {
  margin: 5% 0 0 50%;
  font-size: 50px;
  color: white;
  position: absolute;
  transform: rotate(45.95deg);
}

/*# sourceMappingURL=style.css.map */
